body {
    background-color: #edddd1;
}

h1 {
    margin-top: 3px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -940px;
    color: #60492C;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 10px;
    color: #60492C;

}

.reset {
    padding: 10px 20px;
    background-color: #60492C;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-right: 33px;
  }

  .start {
    background-color: #463F1A;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-right: 33px;
  }

  .card_container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 35px; 
    margin: 0;
  }
  
  .card {
    background-color: #208AAE;
    width: 250px; 
    height: 200px;
    border-radius: 17px;
    height: #463F1A;
  }
